# PayPal Configuration
PAYPAL_USE_FAKE=true
PAYPAL_SANDBOX=true
PAYPAL_API_USERNAME=your-api-username
PAYPAL_API_PASSWORD=your-api-password
PAYPAL_API_SIGNATURE=your-api-signature
PAYPAL_CLIENT_ID=your-client-id
PAYPAL_SECRET=your-secret
PAYPAL_RETURN_URL=https://www.neutrino.dev:8443/checkout/return
PAYPAL_CANCEL_URL=https://www.neutrino.dev:8443/checkout/cancel
