parameters:
    level: 6

    parameters:
        excludePaths:
          - templates
          - **/*.phtml

    paths:
        - modules

    excludePaths:
        - modules/*/test
        - vendor

    tmpDir: data/cache/phpstan

#    ignoreErrors: